
<div class="col-md-6 user-container">
  <h2 style="margin: auto"> Students Information</h2>
  <button class="btn btn-danger" style="width:150px" (click)="addStudent()"> Add Student</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students">
      <td class="hidden">{{student.id}}</td>
      <td>{{student.name}}</td>
      <td>{{student.age}}</td>
      <td>{{student.email}}</td>
      <td><button class="btn btn-success" (click)="deleteStudent(student)"> Delete</button>
        <button class="btn btn-success" (click)="editStudent(student)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>
